<!--The content below is only a placeholder and can be replaced.-->
<div class="contianer">
  <div class="items">
    <canvas
      baseChart
      chartType="doughnut"
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [options]="chartOptions"
      [legend]="true">
    </canvas>
  </div>
</div>
